<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Registrar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="users">Usuarios</a></li>
          <li class="breadcrumb-item active">Registrar</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="card card-blue">
          <div class="card-header">
            <h3 class="card-title">Registrar Usuario</h3>
          </div>
          <form [formGroup]="userForm" (ngSubmit)="createUser()">
            <div class="card-body">
              <div class="form-group">
                <label for="txtNombre">Nombre Usuario</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtNombre"
                  placeholder="Ingresar Nombre"
                  formControlName="name"
                />
              </div>
              <div class="form-group">
                <label for="txtCorreo">Correo</label>
                <input
                  type="email"
                  class="form-control"
                  id="txtCorreo"
                  placeholder="Ingresar Correo"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <label for="txtDni">Dni</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtDni"
                  placeholder="Ingresar Dni"
                  formControlName="about"
                />
              </div>
            </div>
            <div class="card-footer">
              <button
                type="submit"
                class="btn btn-primary mr-2"
                [disabled]="!userForm.valid"
              >
                Registrar
              </button>
              <a href="users" class="btn btn-warning">Atras</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
