<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Administrador</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Hogar</a></li>
          <li class="breadcrumb-item active">Administrador</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ hotelCount }}</h3>
            <p>Nuevos Hoteles</p>
          </div>
          <div class="icon">
            <i class="ion ion-star"></i>
          </div>
          <a href="/hotels" class="small-box-footer"
            >Ver más <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ ratingCount }}</h3>
            <p>Nuevos Rating</p>
          </div>
          <div class="icon">
            <i class="ion ion-home"></i>
          </div>
          <a href="/ratings" class="small-box-footer"
            >Ver más <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ userCount }}</h3>
            <p>Nuevos Usuarios</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="/users" class="small-box-footer"
            >Ver más <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
