<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Registrar</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="ratings">Ratings</a></li>
          <li class="breadcrumb-item active">Registrar</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="card card-blue">
          <div class="card-header">
            <h3 class="card-title">Registrar Rating</h3>
          </div>
          <form [formGroup]="ratingForm" (ngSubmit)="updateRating()">
            <div class="card-body">
              <div class="form-group">
                <label for="txtUsuario">Usuario</label>
                <select
                  class="form-control"
                  id="txtUsuario"
                  formControlName="userId"
                >
                  <option value="0" selected disabled>Seleccione</option>
                  @for (user of users; track $index) {
                  <option [value]="user.userId">{{ user.name }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label for="txtHotel">Hotel</label>
                <select
                  class="form-control"
                  id="txtHotel"
                  formControlName="hotelId"
                >
                  <option value="0" [value]="" selected disabled>
                    Seleccione
                  </option>
                  @for (hotel of hotels; track $index) {
                  <option [value]="hotel.id">
                    {{ hotel.name + " - " + hotel.location }}
                  </option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label for="txtEstrellas">Estrellas</label>
                <input
                  type="number"
                  class="form-control"
                  id="txtEstrellas"
                  placeholder="Ingresar Puntuacion"
                  formControlName="rating"
                />
              </div>
              <div class="form-group">
                <label for="txtDni">Comentario</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtDni"
                  placeholder="Ingresar Comentarios"
                  formControlName="feedback"
                />
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary mr-2">
                Actualizar
              </button>
              <a href="ratings" class="btn btn-warning">Atras</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
